/* Feel free to edit or remove */

.bui-app {
    font-family: sans-serif;
    text-align: center;
}

.bui-app-logo {
    height: 40px;
}

.bui-app-header {
    background-color: #FFFFFF;
    height: auto;
    color: #000000;
}

.bui-app-intro {
    background-color: #AAAAAA;
    padding: 5px 0;

    @media screen and (min-width: 800px) {
        text-align: left;
    }
}

.bui-app-logo {
    height: 75px;
}
